#root {
  margin: 0 auto;
  padding: 0.9rem 0; /* 90% of 1rem */
}

.logo {
  height: 5.4em; /* 90% of 6em */
  padding: 1.35em; /* 90% of 1.5em */
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 1.8em; /* 90% of 2em */
}

.read-the-docs {
  color: #888;
}

.header-smartphone-container {
  display: none;
}

@media (max-width: 540px) { /* 90% of 600px */
  .header-video-container {
    display: none;
    margin-left: 0;
  }
  .header-smartphone-container {
    display: block;
  }
}
